#loginFormContainer{
  width: auto;
  display: flex;
  flex-direction: column;
}

#loginForm{
  margin: 10px;
  padding: 10px 25px;
  width: 25%;
  height: 250px;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#registerLink{
  align-self: center;
}
#loginButton{
  align-self: center;
  width: 25%;
  border-radius: 10px;
}

#googleLogin {
  align-self: center;
  width: 20%;
  border-radius: 10px;
}