main {
  display: flex;
  flex-direction: column;
}

main h2{
  align-self: center;
}

.topContainer{
  max-width: 1200px;
  margin:auto;
}
main .explorePromo{
  display: flex;
  justify-content: space-between;  
}

main .explorePromoBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 15px;
  border-top: 1px solid black;
}

main .explorePromoBox:not(:first-child) {
  margin-left: 15px;
}

main .explorePromoBox p{
  text-align: center;
}

main .explorePromoBox button{
  justify-self: flex-end;
  width: 50%;
  align-self: center;
  height: 5em;
  width: 20em;
  box-shadow: -1px 1px yellow;
  margin-bottom:1px;
  border-radius: 10%;
}